/* -----fonts----- */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@1,500&family=PT+Sans&family=Poppins:wght@500&display=swap');

/* utilitis */
body {
    padding: 0;
    margin: 0;
    font-family: 'Prompt', sans-serif;
}

/*-----banner style start-----*/
.banner-area {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.banner-container {
    width: 1080px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 30px;
}

.banner-content {
    width: 50%;
    padding-left: 7%;
}

.banner-title {
    display: block;
    color: #FFFFFF;
    font-size: 60px;
    padding-right: 50px;
    margin: 5px 0;
    line-height: 1.3em;
}

.banner-description {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0;
    padding-right: 70px;
}

.banner-image {
    width: 50%;
    padding-right: 7%;
}

.banner-image img {
    width: 100%;
    padding-right: 7%;
}

.live-button {
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.1s;
}

.live-button:hover {
    transform: scale(0.8);
}

.fa-angles-right {
    margin-left: 10px;
}

/*-----banner style end-----*/

/* -----matches info style start----- */
.match-filter {
    margin: 50px 0;
}

.matches-filter-container {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

/* lefr side start */
.left-side {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    width: 20%;
    background-color: #161616;
    border-radius: 10px;
    padding: 20px 20px;
    margin-top: 10px;
}

.filter-button {
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    transition: transform 0.2s;
}

.filter-item a.active {
    color: #FFFFFF;
    background-color: #DD0000;
}

.filter-button:hover {
    transform: scale(1.1);
}

/* lefr side end */

/* right side start */
.right-side {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.article-info {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin: 5px 12px;
}

.article-thumbnail {
    width: 240px;
    border: 20px;
    border-radius: 5px;
}

.article-information {
    padding: 15px;
}

.tnasfer-button {
    border: 1px solid #161616;
    font-size: 16px;
    color: #161616;
    text-decoration: none;
    border-radius: 5px;
    padding: 1px 10px;
}

.article-title {
    color: #161616;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.article-info-extra a {
    display: inline-flex;
    text-decoration: none;
    color: #161616;
    font-size: 16px;
}

.icon-detail {
    margin-right: 15px;
}

.other-info {
    margin-right: 15px;
}

/* right side end */

/* view button start */
.view-button {
    text-align: center;
}

.view-all {
    display: inline-block;
    color: #FFFFFF;
    background-color: #DD0000;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 10px;
    transition: transform 0.s;
}

.view-all:hover {
    color: #ffffff;
    background-color: #DD0000;
    transform: scale(0.8);
}

/* view button end */
/* -----matches info style end----- */


/* -------footer start-------*/
.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
}

.footer-title {
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.logo-title:hover {
    color: #DD0000;
}

.footer-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.footer-heading:hover {
    color: #DD0000;
}

hr {
    height: 1px;
    background-color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border: none;
    width: 75%;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 20px 0;
}

nav ul li a {
    text-decoration: none;
    padding: 0 10px;
    color: #B9B9B9;
    transition: 1s;
}

nav ul li a:hover {
    color: #DD0000;
}

.social-icon {
    padding: 20px 0;
}

.fa-brands {
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50%;
}

.fa-brands:hover {
    transform: scale(1.1);
    background: #DD0000;
    color: #ffffff;
}

/* -------footer end-------*/